/node_modules
/bash-scripts/env
/public/build
/public/hot
/public/storage
/public/Themes
/public/.well-known
/storage/*.key
/vendor
/.idea
/.vscode
.env
.env.backup
.env.production
.env.testing
.env.copy*
.env.dusk*
.env.stage-*
.phpunit.result.cache
/modules_statuses.json
/env-boot-config.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/composer.lock
/composer.json
/package.json
/package-lock.json
!/resources/mercy-root/**/*
/.phpunit.cache
/.fleet
/_stages_data_
/config/mercy-dependencies.php
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/Modules
/Themes
